<div class="O-home M-page">
  <form class="M-form O-page__form-section" action="">
    <fieldset class="M-form-group O-page__form--fieldset">
      <input id="search-component"
             name="search-component"
             aria-label="ID"
             class="A-input-field M-form-group"
             type="text" />
      <ul class="M-form-list">
        <li class="M-form-listing">
          <button class="A-button" 
                  type="button">OK</button>
        </li>
      </ul>
    </fieldset>
  </form>
</div>

